
<div class="p-input-icon-left">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text"  [(ngModel)]="usuario.nome" pInputText placeholder="Nome">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-password"></i></span>
      <input type="password"  [(ngModel)]="usuario.email" pInputText placeholder="Email">
    </div>
  <br/>
    <div>
      <button
        pButton
        class="p-button-outlined"
        (click)="salvar()"
        label="Salvar"
      >
      </button>
    </div>
</div>

